{% extends 'main.html' %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    {% block content %}

    <h1>this is home</h1>
    <div>
        <div>
            {% for room in rooms %}
            <div>
                <span>@{{room.host}}</span>
                <h5>{{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a></h5>
                <small>{{room.topic.name}}</small>
                <hr>
                <!-- <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5> -->
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}

</body>

</html>